.shifting-tiles {
  display: table;
  position: relative;
  overflow: hidden;
  background-color: #eee;

  .tile {
    position: absolute;
    -webkit-transition: left 1s;
    transition: left 1s;
    box-sizing: border-box;
    z-index: 2;

    .image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  }

  .loading {
    display: table-cell;
    vertical-align: middle;

    .spinner {
      width: 40px;
      height: 40px;
      margin: 0 auto;
      background-color: #333;

      border-radius: 100%;
      -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
      animation: sk-scaleout 1.0s infinite ease-in-out;
    }

    @-webkit-keyframes sk-scaleout {
      0% { -webkit-transform: scale(0) }
      100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
      }
    }

    @keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0);
        transform: scale(0);
      } 100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
      }
    }
  }
}
