body {
  background-color: #eee;
}

.shifting-tiles {
  position: relative;
  overflow: hidden;

  .tile {
    position: absolute;
    /* transition: all 0.5s cubic-bezier(.87,-.41,.19,1.44); */
    transition: all 0.5s ease-out;
    background-color: #ff0000;
    box-sizing: border-box;

    .image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  }
}
